/*Import statmtent from google fonts website, where we grabbed the font stlye Liu Jian Mao Cao*/
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.logo {
    font-family: 'Liu Jian Mao Cao', cursive;
    color: #FF99FF; 
}


/*  */
#navbar {
    /* Causes horizonatal alignment of nav links*/
    display: flex;
    position: sticky;
    top: 0;
    background-color: #FFFF66;
    height: 45px;
    justify-content: space-between;
    padding: 1rem;
    /*z-index: 1;
    
    
}

#navbar ul { 
    /*Gets arid of bullets */
    list-style: none;
    /*Causes horiznal alignment of nav links*/
    display: flex;
    /*Aligns nav links in the center */
    align-items: center;
    
}
.promo_area {
 background: url('photo-1562593623-9731b885cd0d.jpg') no-repeat center center/cover;
 height: 65vh;
 color: #00FF00;
    }

.promo_area h1 {
text-align: center;
}
.body {
    height: 125vh;
    background-image: url('photo-1562593623-9731b885cd0d.jpg');
   /* background-image: url('francesco-ungaro-8LOp69ILKF8-unsplash.jpg');*/
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
.merchandtour .merchy_img {
    background: url('jens-thekkeveettil-dbWvUqBo0U8-unsplash(1).jpg') no-repeat center center/cover;
}
.url_list_items {
    list-style: none;
}


footer{
    background-color: #FFFF66; 
}

/*Centerd all content inside email div*/
footer .email  {
text-align: center;
}
.Header, Promo Area, Tour-Dates Listing, Highlighted Merch Section,footer {    
    display: block;
    margin: 0;
    padding: rem-calc(20);
    border: 1px solid crimson;
    color: darkkhaki;
}

Home Page {
    background: lightblue;
    }

.header {
    background: #a300c7;
}

.Prom-Area {
    background-image: url('photo-1562593623-9731b885cd0d.jpg');
    }

.promo_content h1 {
    text-align: center;
   }
   
 
   .promo_content p {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: #00c753;
      }
   
.flex-container {
    @media screen and (min-width: 640x){
        display: flex;
    }    
}

.Tour-Date Listing {
    flex: 1;
    background:#c70039;
}

.Highlighted-Merch Section {
    flex: 0 1 300px;
    border: 1px #c846ff;
    background: teal;
}

.footer {
    border: 1px #f00;
    background:  wheat;
}

